In [8]:
#Load BigQuery extension for calling cell magic to run a query and display the result as a DataFrame
%load_ext google.cloud.bigquery

The google.cloud.bigquery extension is already loaded. To reload it, use:
  %reload_ext google.cloud.bigquery

In [9]:
%%bigquery df --verbose 
SELECT
    concat(lat ,',', lon) as latlon,full_street_address
FROM
  `layodemo.bushel_json.geocode`

Executing query with job ID: 4ad511ef-cad9-47cf-8ef8-f970e827cdc6
Query executing: 0.30s
Query complete after 0.51s

Query complete after 0.00s: 100%|██████████| 1/1 [00:00<00:00, 917.79query/s]
Downloading: 100%|██████████| 8/8 [00:01<00:00,  6.39rows/s]

In [10]:
print (df)

                 latlon   full_street_address
0  32.801637,-96.778064        1505 Holly Ave
1  32.801631,-96.778054     1505 Holly Avenue
2  32.801723,-96.778205        1511 Holly Ave
3  32.801723,-96.778205     1511 Holly Street
4  32.801828,-96.778281        1515 Holly Ave
5  32.801828,-96.778281     1515 Holly Avenue
6    32.802019,-96.7785     1519 Holly Avenue
7  32.802596,-96.778648  1536 Holly Ave # 104

In [12]:
import requests

result = [];
for latlon in df['latlon']:
    r = requests.get('https://maps.googleapis.com/maps/api/geocode/json?latlng={}&key=AIzaSyBuDbcz8QQ7G7tebLsi_fi3GATyrizkt9s'.format(latlon))
    result.append(r.json()['results'][0]['formatted_address'])
    
result_ = [i.split(',')[0] for i in result]

df['standardized_address']=result_
print (df.to_string())

                 latlon   full_street_address standardized_address
0  32.801637,-96.778064        1505 Holly Ave       1505 Holly Ave
1  32.801631,-96.778054     1505 Holly Avenue       1505 Holly Ave
2  32.801723,-96.778205        1511 Holly Ave       1511 Holly Ave
3  32.801723,-96.778205     1511 Holly Street       1511 Holly Ave
4  32.801828,-96.778281        1515 Holly Ave       1515 Holly Ave
5  32.801828,-96.778281     1515 Holly Avenue       1515 Holly Ave
6    32.802019,-96.7785     1519 Holly Avenue       1519 Holly Ave
7  32.802596,-96.778648  1536 Holly Ave # 104       1536 Holly Ave

In [14]:
print (df)

                 latlon   full_street_address standardized_address
0  32.801637,-96.778064        1505 Holly Ave       1505 Holly Ave
1  32.801631,-96.778054     1505 Holly Avenue       1505 Holly Ave
2  32.801723,-96.778205        1511 Holly Ave       1511 Holly Ave
3  32.801723,-96.778205     1511 Holly Street       1511 Holly Ave
4  32.801828,-96.778281        1515 Holly Ave       1515 Holly Ave
5  32.801828,-96.778281     1515 Holly Avenue       1515 Holly Ave
6    32.802019,-96.7785     1519 Holly Avenue       1519 Holly Ave
7  32.802596,-96.778648  1536 Holly Ave # 104       1536 Holly Ave

In [15]:
df.to_csv('gs://bushel_json/std_address.csv', index=False)

In [25]:
# Load CSV with schema to BigQuery

from google.cloud import bigquery

# Construct a BigQuery client object.
client = bigquery.Client()

# TODO(developer): Set table_id to the ID of the table to create.
table_id = 'bushel_json.std_geocode'

job_config = bigquery.LoadJobConfig(
    schema=[
        bigquery.SchemaField("latlon", "STRING"),
        bigquery.SchemaField("full_street_address", "STRING"),
        bigquery.SchemaField("standardized_address", "STRING"),
    ],
    skip_leading_rows=1,
    # The source format defaults to CSV, so the line below is optional.
    source_format=bigquery.SourceFormat.CSV,
)

uri = 'gs://bushel_json/std_address.csv'
load_job = client.load_table_from_uri(
    uri, table_id, job_config=job_config
)  # Make an API request.

load_job.result()  # Waits for the job to complete.
destination_table = client.get_table(table_id)
print("Loaded {} rows.".format(destination_table.num_rows))

Loaded 8 rows.

In [ ]:
#THANK YOU